.App {
  text-align: center;
  background-color: rgb(54, 124, 124);
}

#chat-con {
  min-width: 400px;
  max-width: 900px;
  width: 70vw;
  align-items: center;
  justify-content: center;
}
#heading {
  background-color: blue;
  padding: 5vh;
  color: white;
  /* background-color: #4f61d7;
  background-image: linear-gradient(315deg, #2234ae 0%, rgb(45, 45, 161) 74%); */
}

#chat-con1 {
  background-color: rgba(117, 178, 239, 0.229);
  /* background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #91bae9 74%); */
}
